body {
    /*width:1920px;
    height:3781px;*/
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;;
    color: #FFFFFF;
}

.page-header {
    /*width: 1920px;*/
    /*Height: 950px;*/
    position: relative;
    margin:0;
    padding:25px 0;
    background-image: url("img/rings.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header a {
    text-decoration: none;
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.page-header a:hover {
    color:burlywood;
    transition: 0.1s lenear, color .1s linear;
    border:1px solid burlywood;
}

.main-nav {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin:0 auto;
    padding:0;
    max-width: 1110px;
    box-sizing: border-box;
    /*height: 950px;*/
}

/*.diamond-1 {
    position: absolute;
    left:848px;
    top:44px;
    z-index: 1000;
}

.diamond-2 {
    position: absolute;
    left:1011px;
    top:44px;
    z-index: 1000;
}*/


.header-top {
    display:flex;
    justify-content: space-between;
    width: 100%;
    /*box-sizing: border-box;*/
    height: 52px;
    /*margin-top:25px;*/
}

.title-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*padding:0;*/
    /*flex-grow: 1;*/
}

/*.title-list div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid white;
}*/

.logo-title {
    margin-left:126px;
    margin-right: 102px;
}

.title-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: 52px;*/
    /*flex-grow: 1;*/
}

.look {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*padding: 0;*/
}

.reg {
    /*display: flex;
    /*justify-content: center;
    align-items: center;
    align-content: center;*/
   /* flex-grow: 1;*/
    white-space: nowrap;
    width: 100%;
}

.images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.page-text {
    display: flex;
    max-Width:730px;
    max-height:49px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    color: #FFFFFF;
    margin-top:523px;  
}

.catalog-item .btn {
  display: flex;
  width: 261px;
  height:51px;
  color: #FFFFFF;
  background-color: #333333;
  text-decoration: none;
  justify-content: center;
  border: 1px solid white;  
  align-content: center;
  align-items: center;
  font-size:18px;
  font-weight: 500;
  margin-top:50px;
}

.catalog-item .btn:hover {
    color:burlywood;
    transition: 0.1s lenear, color .1s linear;
    border:1px solid burlywood;
  }
  
  .catalog-item .btn:active {
    color: rgba(141, 116, 90, 0.3);
  }

.certa {
    width: 200%;
    border:1px solid #FFFFFF;
    margin-top:80px;  
}

.header-bottom {
    display: flex;
    height: 60px;
    margin-top:30px;
    width: 100%;
    /*box-sizing: border-box;
    border:1px solid #FFFFFF;*/
}

.header-bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*box-sizing: border-box;*/
    padding:auto;
    border-right:1px solid #FFFFFF;
}

.header-bottom div:last-child {
    border-right: none;
}

/*catalog-page*/

.catalog-page {
    margin:0;
    padding:0;
    background-color: #F9F9F9;
}

.conteiner-catolog {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    padding:100px 0;
    margin:0 auto;
}

.catalig-text {
    width: 350px;
    height: 29px;
    font-size: 21px;
    text-align: center;
    color: #333333;
}

.beauty h2 {
    width: 540px;
    height: 41px;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #333333;
    margin-top: 15px;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.button .catalog {
    /*display: flex;
    flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/
    /*align-items: center;*/
    width: 165px;
    height:55px;
    border:1px solid #D6D6D6;
}

/*.button .catalog:hover {
    width: 165px;
    height:61px;
    color:#FFFFFF;
    transition: 0.1s lenear, color .1s linear;
    background-color: #333333;
    text-decoration: none;
    justify-content: center;
    box-shadow: none;
      }*/

.button .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    color: black;
    background-color: #F9F9F9;
    text-decoration: none;
    border: 1px solid #D6D6D6;  
    font-size:18px;
    font-weight: 500;
    box-shadow: 5px 5px 0 0 #D6D6D6;
}

.button .btn:hover {
    width: 100%;
    height:61px;
    color:#FFFFFF;
    transition: 0.1s lenear, color .1s linear;
    background-color: #333333;
    text-decoration: none;
    justify-content: center;
    box-shadow: none;
  }
  
  .button .btn:active {
    color: rgba(141, 116, 90, 0.3);
  }

.catalog-images {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 590px;
    margin-top: 55px;
}

.catalog-images .picture {
    display: flex;
    flex-wrap:wrap;
    width: 350px;
    height: 280px;
}

.catalog-images .snake {
    background-image: url("img/snake.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images .blond {
    background-image: url("img/blond.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images .silver-ring {
    background-image: url("img/silver-ring.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images .black-ring {
    background-image: url("img/black-ring.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images .face {
    background-image: url("img/face.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images .ring-heart {
    background-image: url("img/ring-heart.png");
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.catalog-images a {
    display: flex;
    margin-top: 222px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color:white;
}

.catalog-images a:hover {
    color:tomato;
}

/*.third-floor*/

.third-floor {
    /*width: 1920px;;
    height: 541px;*/
    margin:0;
    padding: 100px 0;
    background-color: #333333;
}

.third-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 730px;
    margin:0 auto;
    /*height: 341px;
    position:relative;
    top:100px;
    left:595px;*/
    padding:0;
    background-color: #333333;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 29px;
    font-size: 21px;
    font-weight: 400;
    color:white; 
}

.moscow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 41px;
    margin-top:15px;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    font-weight: 700;
    color:white;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top:45px;
    font-size: 18px;
    font-weight: 400;
    color:white;   
}

.adress {
    display: flex;
    width: 224px;
    height: 51px;
    margin-top:60px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: white; 
}

.adress .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height:51px;
    color: black;
    background-color:#FFFFFF;
    text-decoration: none;
}

.adress .btn:hover {
width: 224px;
height:51px;
color:#FFFFFF;
transition: 0.1s lenear, color .1s linear;
background-color:tomato;
text-decoration: none;
justify-content: center;
}
  
.adress .btn:active {
    color: rgba(141, 116, 90, 0.3);
}

/*fourth-floor*/

.fourth-floor {
    /*width: 1920px;
    height: 1761px;*/
    padding:120px 0;
    background-color: white;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    /*height: 1491px;*/
    /*position:relative;*/
    color: #333333;
    margin: 0 auto;
    /*top:120px;
    left:405px;*/
}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 29px;
    font-weight: 400;
    font-size: 21px;
}

.recommendations {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 41px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
}

.article-items {
    display: flex;
    margin-top: 60px;
    width: 100%;
    height: 370px;
    justify-content: space-between; 
}



.article-items .items {
    width: 350px;
    height: 370px; 
}

.items a {
    display: flex;
    margin-top: 248px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    font-weight: 400;
    font-size: 21px;
    color: white;
    text-decoration: none; 
}

.items a:hover {
    color:black;
    transition: 0.1s lenear, color .1s linear;
    text-decoration: none;
    justify-content: center;
}
      
.items a:active {
    color: rgba(141, 116, 90, 0.3);
}

.article-items .woman-hand:first-child {
    background-image: url("img/woman-hand.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.article-items .crown:nth-child(2) {
    background-image: url("img/crown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.article-items .mobil:last-child {
    background-image: url("img/mobil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 255px;
    height:51px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color:#333333;
    text-decoration: none;
    text-transform: uppercase;
}

.blog .btn:hover {
color:black;
transition: 0.1s lenear, color .1s linear;
background-color:tomato;
}
  
.blog .btn:active {
    color: rgba(141, 116, 90, 0.3);
}

.hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 350px;
    height: 29px;
}

.hashtag a {
    font-weight: 400;
    font-size: 21px;
    color: black;
    text-decoration: none;
}

.hashtag a:hover {
    color:blueviolet;
    transition: 0.1s lenear, color .1s linear;
    }

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 41px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    margin-top: 60px;
    width: 100%;
}

.collage div {
    display: flex;
    align-content:center;
}

/*fifth-floor*/
.fifth-floor {
    /*width: 1920px;
    height: 478px;*/
    padding:100px 0;
    background-color: #333333;
}

.fifth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}


.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
    height: 29px;
    font-weight: 400;
    font-size: 21px;
    color: white;
}

.mailing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 41px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin-top:60px;
    padding: 0 150px;
    width: 100%;
}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 114px;
}

.personal a {
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    /*margin-left: 80px;*/
    padding:15px 14px;
    border:1px solid white;
}

.box {
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 22px;
    width: 100%;
    height: 85px;
    background-color: #FFFFFF; 
}

/*.text-area {
    border:1px solid white;
}*/

.text-area input{
    width: 200px;
    height: 45px;
}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 45px;
    margin-left: 15px;
    background: #333333;
}

.but a {
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
}

.but:hover {
    transition: 0.1s lenear, color .1s linear;
    background-color:tomato;
}

/*footer*/
.footer {
    /*width: 1920px;
    height: 395px;*/
    padding:80px 0 20px 0;
    background-color: #E5E5E5;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1140px;
    margin:0 auto;
    /*height: 395px;*/
    /*position: relative;
    left:405px;*/
}

.information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 254px;
    border-bottom:1px solid #333333; 
}

.table-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 194px;
    color: #333333;
    
}

.table-content a {
    color: #333333;
    text-decoration: none;
}

.link {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 25px;
    text-transform: uppercase;
}

.link:after {
    content:"";
    display:block;
    max-width:255px;
    height:1px;
    background-color:#333333;
  }

  .card img {
      margin-right: 20px;
  }

  .icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .icons img {
      margin-right: 25px;
  }
.foot-down {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    color: #333333;
    margin-top: 20px;
}



  